
/* Set all parents to full height */
html, body, .container, #content, #content section {
  height: 100%;
}


body {
  .container {
    /* background-attachment does the trick */
    #content {
      section {
        position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
        &#intro {
          #video {
            @include block;
            
            position: relative;
	          padding-bottom: 56.25%; /* 16:9 */
	          padding-top: 25px;
	          height: 0;
	          
	          iframe {
	            position: absolute;
	            top: 0;
	            left: 0;
	            width: 100%;
	            height: 100%;
	          }
          }
        }
        
        article {
          ul {
            margin: 0;
          }
        }
      }
    }
  }
}

body {
  .container {
    
    #header {
      
      
      hgroup {
        width: $major;
        margin: $margin;
        
        position: relative;
        top: -$pad*6;
      }
    }
    
    
  }
}






