#intro { background-image: url('/assets/1.jpg?1376229013'); }

#press { background-image: url('/assets/1.jpg?1376229013'); }

#features { background-image: url('/assets/1.jpg?1376229013'); }

#specifications { background-image: url('/assets/2.png?1376230065'); }

#order { background-image: url('/assets/3.png?1376230258'); }

#showcase { background-image: url('/assets/4.png'); }
