

 
#intro {
  background-image: image-url("1.jpg");
}
 
#press { 
  background-image: image-url("1.jpg");
}
 
#features {
  background-image: image-url("1.jpg");
}
 
#specifications {
  background-image: image-url("2.png");
}
 
#order {
  background-image: image-url("3.png");
}

#showcase {
  background-image: image-url("4.png");
}
